form {
	gap: 1.5rem;
	opacity: 0;
	transition: opacity .5s ease-in-out;
}

form.show {
	opacity: 1;
}

label, input {
	font-size: 3vh;
}

input {
	border-radius: 40px;
	padding: 20px;
	text-align: center;
	border-color: black
}

input:focus {
	box-shadow: 6px 6px 10px black;;
    transform: translate(-4px,-4px);
    transition: all .5s; 
}