form {
	margin-top: 5vh;
	gap: 1.5rem;
	opacity: 0;
	transition: opacity .5s ease-in-out;
}

form.show {
	opacity: 1;
}

label, input {
	font-size: 3vh;
}

label {
	border-radius: 40px;
	padding: 10px;
	background-color: white;
	border: 2px solid black;
	box-shadow: 2px 2px 10px 2px black;
}

input {
	border-radius: 40px;
	padding: 20px;
	text-align: center;
	border-color: black;
	box-shadow: 2px 2px 10px 2px black;
}

input:focus {
	box-shadow: 6px 6px 10px black;;
    transform: translate(-4px,-4px);
    transition: all .5s; 
}