.placeShipsContainer {
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 10px;
}

#pst {
	gap: 10px;
	height: 200px;
}

#pst, #playerSection {
	opacity: 0;
}

#pst.show, #playerSection.show {
	opacity: 1;
	transition: opacity 1.5s ease-in-out;
}